<!DOCTYPE html>

<head>
  <title>OpenAI Quickstart</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='dog.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>tell me what you want in the hotel you are looking for</h3>
  <form action="/" method="post">
    <input type="text" name="hotel" placeholder="ie. cheap, safe, convenient" required />
    <input type="submit" value="Generate names" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>